<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
      <div class="container">
      <div id="sidebar">
        <a href="/" id="sidebar-name" class="button">
          <%= "Shaileshh" %><br>
          <%= "Bojja" %><br>
          <%= "Venkarakrishnan" %>
        </a>
        <%= link_to "Home", "home.html", id: "sidebar-home", class: "button" %>
        <%= link_to "Research", "research.html", id: "sidebar-research", class: "button" %>
        <%= link_to "News", "news.html", id: "sidebar-news", class: "button" %>
        <%= link_to "Teaching", "teaching.html", id: "sidebar-teaching", class: "button" %>
        <%= link_to "Students", "students.html", id: "sidebar-students", class: "button" %>
      </div>
    <%= yield %>
  </body>
</html>