---
title: Shaileshh Bojja Venkatakrishnan - Students
---

      <div id="mainpage">
        <div id="list">
          <p id="title">Students</p>
          <% data.students.students.each do |student| %>
            <p>
              <% if student["website"] %>
                <a href="<%= student["website"] %>"><%= student["name"] %> (<%= student["degree"] %>)</a><br>
              <% else %>
                <%= student["name"] %> (<%= student["degree"] %>)<br>
              <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
