---
title: Shaileshh Bojja Venkarakrishnan - Teaching
---

<!DOCTYPE html>
<html>
  <head>
    <title><%= data.courses.title %></title>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div id="sidebar">
        <a href="/" id="sidebar-name" class="button">
          <%= "Shaileshh" %><br>
          <%= "Bojja" %><br>
          <%= "Venkarakrishnan" %>
        </a>
        <%= link_to "Home", "home.html", id: "sidebar-home", class: "button" %>
        <%= link_to "Research", "research.html", id: "sidebar-research", class: "button" %>
        <%= link_to "News", "news.html", id: "sidebar-news", class: "button" %>
        <%= link_to "Teaching", "teaching.html", id: "sidebar-teaching", class: "button" %>
        <%= link_to "Students", "students.html", id: "sidebar-students", class: "button" %>
      </div>
      <div id="mainpage">
        <div id="list">
          <p id="title">Teaching</p>
          <% data.courses.courses.each do |course| %>
            <p><%= course["semester"] %>:<br>
            <% course["subjects"].each do |subject| %>
              <%= subject %><br>
            <% end %>
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>
